<h1>Welcome to my app!</h1>
<!--
<%= link_to %> is embedded ruby rails function that takes arguments
The function takes two arguments separated by a comma (ruby convention)
The first arg is the text to show
The second arg is the path
-->

<p>Sign up <%= link_to "here", "#" %>.</p>
